<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    My name is Kenny Leung. My technical background is in artificial intelligence, and I'm keen on learning new things everyday. I recently joined Twitter Cortex to explore problems at the intersection of NLP and machine learning! Prior to this, I worked on speech recognition at Google.
</div>
<br/>
<div>
	This personal site is meant for jotting down some interesting and/or useful ideas, musings, and insights that I gather at work and in my spare time. There is so much I have yet to explore, so I hope that this blog will be a good place to track my progress and share a little bit about what I'm learning. Thanks for visiting!
</div>